# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/
*-test-library
# Since this is a library, we ignore `dub.selections.json`.
# It only matters when used with an application.
dub.selections.json

# Code coverage
*.lst

# Emacs
*~

# Examples binary
examples/helloworld/helloworld
